/* width */
::-webkit-scrollbar {
    width: 16px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(31, 30, 30); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(31, 30, 30);
    color: #e3e3e3;
    font-family: 'Roboto';
    font-size: 22px;

    max-width: 100%;
    overflow-y: scroll;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(37, 37, 37);
    height: 8vh;
    position: fixed;
    width: 100%;
}


a {
    padding: 0.5vh 0.8vh;
    font-size: 3vh;
    color: #e3e3e3;
    margin: 0.5px 0.8px 0.5px;
    text-decoration: none;
}

#header {
    display: flex;
}

/* Botões do header da aplicação*/
#header > button {
    padding:  0.5vh 0.8vh;
    font-size: 3vh;
    color: #e3e3e3;
    margin: 0.5vh 0.8vh 0.5vh;
    text-decoration: none;

    background: none;
	color: inherit;
	border: none;
	outline: inherit;
}

#header > button:hover {
    border: 0.3vh solid #72e9bb;
    border-radius: 16px;
}

/* div com texto principal imagem e botões da aplicação*/
.main {
    display: flex;
}

.main > h1 {
    font-size: 8vh;
    margin: 15vh 15vh;
    max-width: 100vh;
    max-height: 100vh;
}

.main > h1:hover {
    color: #72e9bb;
}


.img-home {
    margin: 70px 0;
}

.img-home > img {
    margin: 20px 0;
    max-width: 500px;
    max-height: 500px;
}

.buttons {
    margin: 0 15vh;
    display: flex;
    max-width: 100%;
    
    margin-top: -150px !important;
}
.button {
    padding: 1.5vh 1.8vh;  
    width: auto;
    height: 32px;
    background-color: #ff8800;
    border-radius: 6px;
    margin: 0 2vh;
}

.button:hover {
    background-color: #ffa600;
}

.portfolio > h1 {
    text-align: center;
    margin-top: 20vh;
}

/* Cards do portfolio*/
.cards {
    display: flex;
    justify-content: space-between;
    text-align: center;

    overflow-x: scroll;
}

/* Cards do "Quem Somos" */
.cards2 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;

}


.card {
    margin: 5vh 8vh;
    height: 70vh;
    width: 70vh;
}

.card > img {
    max-width: 500px;
    max-height: 400px;
}

.card2 {
    margin: 5vh 8vh;
    height: 70vh;
    width: 70vh;
}

.about > h1 {
    text-align: center;
    margin-top: 30vh;
}

.photo > img {
    background-color: #e3e3e3;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    border: 0.2vh solid #72e9bb;
    margin: 20px auto;
}

.legend > p {
    margin: 0.8vh 0;
    font-size: 4vh;
}

.social {
    display: flex;
    max-width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.social > a > img {
    margin: 20px 0.1vh;
    max-width: 5vh;
    max-height: 5vh;
    border-radius: 6px;
}

.content-footer {
    background-color: rgb(37, 37, 37);
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
}

.content-footer {
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
}
.content-footer > p {
    color: #666;
    font-size: 2.7vh;
}


/* Fab do Whatsapp*/
.fab {
    border-radius: 50%;
    text-align: center;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0 4.5vh 1.8vh;
}

 .fab > a > img {
    margin: 0 -5vh;
    max-height: 10vh;
    max-width: 10vh;
}




@media screen and (min-width: 480px) {
    
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .img-home > img {
       display: none;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        
        margin-top: -200px !important;
    }  
    
    .cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        margin-top: 20px;
    }

    .cards2 {
        flex-direction: column;
        align-items: center;
    }
}
