/* width */
::-webkit-scrollbar {
    width: 16px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(31, 30, 30); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(31, 30, 30);
    color: #e3e3e3;
    font-family: 'Roboto';
    font-size: 22px;

    max-width: 100%;
    overflow-y: scroll;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(37, 37, 37);
    height: 50px;
    position: fixed;
    width: 100%;
}


a {
    padding: 5px 8px;
    font-size: 18px;
    color: #e3e3e3;
    margin: 5px 8px 5px;
    text-decoration: none;
}

#header {
    display: flex;
}

/* Botões do header da aplicação*/
#header > button {
    padding: 5px 8px;
    font-size: 18px;
    color: #e3e3e3;
    margin: 5px 8px 5px;
    text-decoration: none;

    background: none;
	color: inherit;
	border: none;
	outline: inherit;
}

#header > button:hover {
    border: 1px solid #72e9bb;
    border-radius: 16px;
}

/* div com texto principal imagem e botões da aplicação*/
.main {
    display: flex;
}

.main > h1 {
    font-size: 52px;
    margin: 10% 8%;
    max-width: 700px;
    max-height: 200px;
}

.main > h1:hover {
    color: #72e9bb;
}


.img-home {
    margin: 70px 0;
}

.img-home > img {
    margin: 20px 0;
    max-width: 500px;
    max-height: 500px;
}

.buttons {
    margin: 0 8%;
    display: flex;
    justify-content: space-between;
    max-width: 350px;
    
    margin-top: -150px !important;
}
.button {
    padding: 5px 8px;
    width: auto;
    height: 32px;
    background-color: #ff8800;
    border-radius: 6px;
}

.button:hover {
    background-color: #ffa600;
}

.portfolio > h1 {
    text-align: center;
    margin-top: 310px;
}

/* Cards do portfolio*/
.cards {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;

    overflow-x: scroll;
}

/* Cards do "Quem Somos" */
.cards2 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;

}


.card {
    margin: 20px 30px;
    height: 400px;
    width: 300px;
}

.card > img {
    max-width: 500px;
    max-height: 400px;
}

.card2 {
    margin: 20px 30px;
    height: 400px;
    width: 300px;
}

.about > h1 {
    text-align: center;
    margin-top: 100px;
}

.photo > img {
    background-color: #e3e3e3;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 0.8px solid #72e9bb;
    margin: 20px auto;
}

.legend > p {
    margin: 10px 0;
}

.social {
    display: flex;
    max-width: 100px;
    margin: auto;
}

.social > a > img {
    margin: 20px -5px;
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
}

.content-footer {
    background-color: rgb(37, 37, 37);
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
}

.content-footer {
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
}
.content-footer > p {
    color: #666;
    font-size: 14px;
}


/* Fab do Whatsapp*/
.fab {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0 40px 20px;
}

 .fab > a > img {
    margin: 0 -5px 15px;
    max-height: 50px;
    max-width: 50px;
}



@media (max-width: 750px) {

    
    body {
        overflow-x: hidden;

    }

    #container {
        max-width: 100%;
    }

    #header > button {
        font-size: 4vh;
    }
    
    .main {
        display: flex;
    }
    
    .main > h1 {
        font-size: 6vh;
        margin: 15% 8%;
        min-width: 300px;
    }
    
    .img-home > img {
        margin: 20px -30%;
        max-width: 400px;
        max-height: 400px;
    }

    .buttons {
        max-width: 30%;
        
        margin-top: -10px !important;
    }
    .button {
        padding: 0.4vh 1vh;
        margin: 0 1vh;
        width: auto;
        height: 32px;
        background-color: #ff8800;
        border-radius: 6px;
    }
    
   
    .cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        margin-top: 20px;
    }

    .cards2 {
        flex-direction: column;
        align-items: center;
     
    }


    .card {
        height: 100%;
        width: 100%;
    }
    
    .card > img {
        min-width: 50vh;
        min-height: 100vh;
    }
    
    .card2 {
        height: 80vh;
        width: 60vh;
    }
    
   
    .fab {
        height: 50px;
        width: 50px;
        
    }
    
     .fab > a > img {
        min-height: 10vh;
        min-width: 10vh;
    }

    
    .photo > img {
        width: 20vh;
        height: 20vh;
    }



    .social {
        display: flex;
        max-width: 100px;
        margin: auto;
    }

    .social > a > img {
        margin: 20px -5px;
        min-width: 8vh;
        min-height: 8vh;
        border-radius: 50%;
    }

    .content-footer {
        height: 60px;
    }

    .content-footer > p {
        color: #666;
        font-size: 3vh;
    }

}